html, body{
  min-height: 100vh;
  overflow: auto;
}
.bg-primary{
  background-color: #0093e7!important;
}
footer{
  position:relative;
  bottom: 0;
  width: 100%;
}
.jumbotron{
  margin:auto 0;
}
.main{
  margin-top: 80px;
  margin-bottom: 40px;
  min-height: 77vh;
}
#myVideo{
  max-height: 77vh;
}
.img-slide{
  height: 500px;
}
#map-canvas{
  margin-left: 50px;
}
#map{
    border: 1px solid #ccc;
    margin: 20px 10px;
    width: 780px;
    height: 605px;
}
.carousel-caption{
  -webkit-text-stroke: 1px #0093e7;
}
