nav{
  background-color: #0093e7;
}
.jumbotron{
  margin:auto 0;
}
.row{
  margin-top: 80px;
}
#avatarImg{
  max-width: 500px;
  max-height: 500px;
  margin: 10px auto;
  transition: all 1s;
}
.img-fluid{
  transition: all 1s;
}
@media (max-width: 1440px){
  #avatarImg{
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 1200px){
  #avatarImg{
    width: 85%;
    height: 85%;
  }
}
@media (max-width: 992px){
  #avatarImg{
    width:70%;
    height: 70%
  }
}
@media (max-width: 768px){
  #avatarImg{
    width:55%;
    height: 55%
  }
}
@media (max-width: 576px){
  #avatarImg{
    width:40%;
    height: 40%
  }
}
@media (min-width: 576px) {
  .jumbotron {
      padding: 2rem 1rem;
  }
}
